body {
    background-image: url("../images/background.jpg");
    background-image: repeat;

}

.body {
    background-color: white;
    text-align: center;
    width: 1200px;
    margin: auto;
    padding: 20px;
}

.crystals {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.crystal {
height: 200px;
width:  200px; 

}